@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 48 100% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 48 100% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 48 100% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 45 100% 51%;
    --primary-foreground: 222.9 39.3% 11.2%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 34.5%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 44 100% 44%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 45 100% 51%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 45 100% 51%;
    --primary-foreground: 222.9 39.3% 11.2%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 44 100% 44%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
